
/*fontes*****************************/

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
body{
    font-family: "Space Mono", monospace;
    max-width:1440px;
}



/************************************/
.logo-img {
    WIDTH: 216px !important;
    height: auto;
    margin-left: 50px;
}

nav.barre-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

ul#menu-menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 305px;
    margin-right: 50px;
    list-style: none;
}
a {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
}
ul#menu-footer {
    display: flex;
    justify-content: space-around;
    width: 43%;
    list-style: none;
    margin-left:330px;
}



/****************contact**************/

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color:black;
}

.modal-content {
    background-color: #fff;
    margin: 2% auto;
    /* padding: 20px; */
    border-radius: 8px;
    width: 100%;
    max-width: 597px;
    /* top:10px; */
    /* position: relative; */
    background-image: url('../assets/Contact-header.png');
    background-repeat: repeat-x;
    background-size:auto;
    background-position-x: center;
    background-position-y: 18px;
    height: 769px;
    
}
dialog::backdrop {
    background: rgba(0, 0, 0, 1); /* Arrière-plan noir opaque */
}

dialog form{
    /* margin-top:70px; */
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin:auto;
    width: 50%;
    align-items: center;
}
.nom,.email,.refphoto {
    height: 63px;
}

.message 
{
    height: 230px;
    width: 100%;
}
/* marge haute du formulaire*/
div#wpcf7-f58-o1 {
    margin-top: 80px;
}

.bouton-envoyer {
    height: 50px;
    max-width: 263px;
    margin: 0;
    padding: 0;
}
.bouton-envoyer p,.bouton-envoyer p input
{
    margin:0;
    padding:0;
    height: 50px;
    width: 100%;
}
.bouton-envoyer p input
{
    border-radius: 2px;
    border:none;
    box-shadow: 0px 2px 1px 0px #00000005;
    background-color: #D8D8D8;
    width: 100%;
}

.bouton-envoyer p
{
    width: 100%;
}
.bouton-envoyer
{
    width:100%
}

.formulaire-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 450px;
}

/* form.wpcf7-form.init {
    display: flex;
    flex-direction: column;
    gap: 24px;
} */



form label
{
    font-family: "Space Mono", monospace; 
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: black;
    /* margin-top: 24px;
    margin-bottom: 4px; */
}
.nom input,.email input,.refphoto input
{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    height: 40px;
    font-weight: 400;
    width: 100%;
    max-width: 263px;
}
.message textarea{
    max-width: 263px;
    width:100%;
}

form textarea
{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    /* height: 40px; */
    font-weight: 400;
}

/* la div du formulaire*/
/* div#wpcf7-f58-o1  {
    margin:auto;
    width: 50%; 
} */
/* bouton envoyer */
input.wpcf7-form-control.wpcf7-submit.has-spinner {
    width: 100%;
}
.bouton-envoyer p {
width:100%;
}


/*************single photo************************/
section{
    padding-left: 50px;
    padding-right: 50px;

}
.photo-globale
{
display:flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
}



/* .photo-globale
{
    height: 60vh;          

} */


.photo-image {
    /* width: 50vw;          */
    width: 50%;
    height: 844px;    
    /* height: 60vh;           */
    overflow: hidden;      
}

.responsive-img {
    width: 100%;           
    height: 100%;         
    object-fit: cover;     
   object-position:center;   
   /* object-fit: scale-down; */

}


.photo-info
{
    width: 50%;

}

.photo-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

section.photo-contact-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.photo-bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46%;
    height: 118px;
    align-items: center;
}
.photo-bouton p {
    font-size: 14px;
}

input[type="button"] {
    width: 272px;
    height: 50px;
    background: #D8D8D8;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px #00000005;

    
}

.petite-separation {
    /* border: none;            Supprime le style par défaut */
    border-top: 1px solid #000; 
    width: 564px;
}
.grande-separation {
    /* border: none;            Supprime le style par défaut */
    border-top: 1px solid #000; 
    width: 100%;
}

.photo-globale h2{
    font-family: Space Mono;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    text-transform: uppercase;
}


#contact-principal
{
    background-color: black;
    position:relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}

dialog#contact-modal {
    height: 90vh;
}

.photos-apparentees-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width:100%;
    margin-top: 52px;
}
/* .photos-apparentees-detail a {
    width: 40%;
    height: 495px;
} */
/* .photo-app1 .photo-app2 {
    width: 50%;   
    height: 495px;      */
        
    /* height: 100%;          */
    /* object-fit: cover;     
   object-position:center    

} */
.photo-app-conteneur1,.photo-app-conteneur2
{
        width: 50%;         
        /* width: 564px; */

        /* width: 47%; */
        height: 495px;     
        overflow: hidden;      
    
}



.photo-app-conteneur1
{
    background-color: aqua;
}

.photo-app-conteneur2
{
    background-color:blue;
}



.photo-app-conteneur1 a img, .photo-app-conteneur2 a img
{
        width: 100%;         
        /* width: 564px; */
        object-fit: cover;
        /* width: 47%; */
        height: 495px;     
        overflow: hidden;      
    
}


/* img.photo-app1.wp-post-image.lazyautosizes.lazyloaded {
    object-fit: scale-down;
    width: 47%;
} */


img.photo-app1.wp-post-image.lazyautosizes.ls-is-cached.lazyloaded {
    width: 100%;
    /* width: 564px; */
    height: 495px;
    /* object-fit: center; */
    object-fit: cover;
}
img.photo-app2.wp-post-image.lazyautosizes.ls-is-cached.lazyloaded {
    /* width: 50%; */
    width: 100%;
    height: 495px;
    /* object-fit: center; */
    object-fit: cover;
}

.texte-photos-apparentess
{
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
margin-top: 77px;
}

section.photo-contact-navigation {
    margin-top: 5px;
}

.photo-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-fleche
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}