html, body {
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
/*fontes*****************************/

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
body{
    font-family: "Space Mono", monospace;
    max-width:1440px;
    margin:auto;
}



/**************** header & footer ********************/
.logo-img {
    WIDTH: 216px !important;
    height: auto;
    margin-left: 50px;
}

header.barre-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0px 4px 14px 10px #00000008;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* margin-bottom:38px; */
}



ul#menu-menu-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 305px;
    margin-right: 50px;
    list-style: none;
}
a {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
}
ul#menu-footer {
    display: flex;
    /* width: 43%; */
    list-style: none;
    /* margin-left: 330px; */
    justify-content: center;
    flex-direction: row;
    gap: 86px;
}

.grande-separation {
    border-top: 1px solid #000; 
    width: 100%;
    margin-top:5px;
}

/****************Modal contact**************/

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color:black;
}

.modal-content {
    background-color: #fff;
    margin: 2% auto;
    /* padding: 20px; */
    border-radius: 8px;
    width: 100%;
    max-width: 597px;
    /* top:10px; */
    /* position: relative; */
    background-image: url('../assets/Contact-header.png');
    background-repeat: repeat-x;
    background-size:auto;
    background-position-x: center;
    background-position-y: 18px;
    height: 769px;
    
}
dialog::backdrop {
    /* background: rgba(0, 0, 0, 1); Arrière-plan noir opaque */
    background: rgba(0, 0, 0, 0.7);
}

dialog form{
    /* margin-top:70px; */
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin:auto;
    width: 50%;
    align-items: center;
}
.nom,.email,.refphoto {
    height: 63px;
}

.message 
{
    height: 230px;
    width: 100%;
}
/* marge haute du formulaire*/
div#wpcf7-f58-o1 {
    margin-top: 80px;
}

.bouton-envoyer {
    height: 50px;
    max-width: 263px;
    margin: 0;
    padding: 0;
}
.bouton-envoyer p,.bouton-envoyer p input
{
    margin:0;
    padding:0;
    height: 50px;
    width: 100%;
}
.bouton-envoyer p input
{
    border-radius: 2px;
    border:none;
    box-shadow: 0px 2px 1px 0px #00000005;
    background-color: #D8D8D8;
    width: 100%;
}

.bouton-envoyer p
{
    width: 100%;
}
.bouton-envoyer
{
    width:100%
}

.formulaire-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 450px;
}


form label
{
    font-family: "Space Mono", monospace; 
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: black;
}
.nom input,.email input,.refphoto input
{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    height: 40px;
    font-weight: 400;
    width: 100%;
    max-width: 263px;
}
.message textarea{
    max-width: 263px;
    width:100%;
}

form textarea
{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    /* height: 40px; */
    font-weight: 400;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner {
    width: 100%;
}
.bouton-envoyer p {
width:100%;
}


/*************Single photo************************/
section{
    /* padding-left: 50px;
    padding-right: 50px; */

}
.photo-globale
{
display:flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-between;
margin-top: 38px;
padding-left: 50px;
padding-right: 50px;
}


.photo-image {
    width: 50%;
    height: 844px;    
    overflow: hidden;      
}

.responsive-img {
    width: 100%;           
    height: 100%;         
    object-fit: cover;     
   object-position:center;   

}


.photo-info
{
    width: 50%;

}

.photo-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

section.photo-contact-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 50px;
    padding-right: 50px;
}

.photo-bouton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46%;
    height: 118px;
    align-items: center;
}
.photo-bouton p {
    font-size: 14px;
}

input[type="button"] {
    width: 272px;
    height: 50px;
    background: #D8D8D8;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px #00000005;
}

.ligne-footer
{
    border-top: 1px solid #000; 
    width: 100%;
}

.petite-separation {
    border-top: 1px solid #000; 
    width: 564px;
}


.photo-globale h2{
    font-family: Space Mono;
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    text-transform: uppercase;
}


#contact-principal
{
    position:relative;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
}

dialog#contact-modal {
    height: 90vh;
}

section#photos-apparentees {
    margin-bottom: 109px;
    padding-left: 50px;
    padding-right: 50px;
}
.photos-apparentees-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width:100%;
    margin-top: 52px;
}
.photo-app-conteneur1,.photo-app-conteneur
{
    width: 50%;         
    height: 495px;     
    overflow: hidden;      
    position:relative;
}
.photo-app-conteneur .photo-app
{
    width: 100%;
    height: 495px;
    object-fit: cover;  
}

img.photo-app.wp-post-image.lazyautosizes.ls-is-cached.lazyloaded {
    width: 100%;
    height: 495px;
    object-fit: cover;
}

.texte-photos-apparentess
{
font-size: 18px;
font-weight: 400;
text-transform: uppercase;
margin-top: 77px;
}

section.photo-contact-navigation {
    margin-top: 5px;
}

.photo-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81px;

}

.photo-fleche
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.overflow-hidden
{
    overflow: hidden;
}

.legende-photo {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 495px;
    background-color:black;
    background-repeat: no-repeat,no-repeat;
    background-position:center center,top right;
    z-index: 3000;
    opacity:0;
}

.legende-photo:hover
{
    opacity:0.7;
    color:white;
}

.legende-photo-texte {
    display: flex;
    position: absolute;
    top: 450px;
    justify-content: space-between;
    width: 90%;
    text-transform: uppercase;

}
.fullscreen
{
    height: 34px;
    width: 34px;
    object-fit: cover;
    position:absolute;
    top: 10px;
    /* left: 550px; */
    left: 90%;

}

/****** navigation photo suivante et précedente *****/
.photo-precedente
{
    display:none;
}
.photo-suivante
{
    display:none;
}
/* img.img-photo-suivante.wp-post-image.lazyloaded {
    width: 81px;
    height: 71px;
} */

.photo-precedente img,.photo-suivante img{
    width: 81px;
    height: 71px;
}
.photo-fleche_gauche img:hover,.photo-fleche_droite img:hover
{
    transform: scale(1.2);
}

.line{
    height: 3px;
    background-color: #000;
    display: block;
    margin-block: 2px;
    width: 20px;
}

.menuBurger
{
display:none;
}

.oeil-icon
{
    position:absolute; 
     left:50%;
     top:50%;
     transform: translate(-50%, -50%);
}
/************************Front page******************************/
.photo-hero-header
{
    height: 962px;
    width: 100%;
}

section.photo-hero-header.lazyloaded {
    background-position: center;
    background-repeat: no-repeat;
}


.titre-site{
    font-family: Space Mono;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    line-height: 142.18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    color:white;
    text-transform: uppercase;
    margin: 0;
    padding-top: 402px;
    /* border: 3px solid #FFFFFF */
}

.photo-album {
    /* width:39%; */
    /* height: 495px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    width: 100%; 
}
.photo-album-img
{
    width: 100%; 
    height: 100%; 
    display: block;
    object-fit: cover;  
}

.photo-album-image
{
    position:relative;
        height: 495px;

}

.photo-album-conteneur
{
    padding-left:50px;
    padding-right:50px;
    margin-top: 79px;

}
.photo-criteres-recherche
{
    margin-bottom:40px;
}

.photo-criteres-recherche form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.photo-charger-plus {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
input#bouton-charger-plus {
    width: 272px;
    border-radius: 2px;
    background-color: #D8D8D8;
    box-shadow: 0px 2px 1px 0px #00000005;

}
input[type="button"] {
    cursor: pointer;
}
input[type="button"]:hover
{
    background-color: black;
    color: white;
}
#bouton-charger-plus:hover{
    background-color: black;
    color: white;
}

/************************fin Front page******************************/


@media (max-width: 767px) {
    section{
        padding-left: 0px;
        padding-right: 0px;
    
    }
    .photo-globale {
        flex-direction: column;
        flex-direction: column-reverse;
        width:100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left:0;
        margin-right: 0;
    }
    .photo-image
    {
        width: 265px;
        height: 379px;
        margin: 1px auto;
    }
    .photo-info
    {
        width: 100%; 
    }

    ul#menu-menu-principal
    {
        display:none;

    }
    .menuBurger
    {
    display:block;
    border:none;
    background-color: white;
    }
    .petite-separation
    {
        width: 100%;
    }
    .photos-apparentees-detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        width: 317px;
        margin: 52px auto;
    }
    conteneur1, .photo-app-conteneur {
        width: 317px;
        height: 278px;
        overflow: hidden;
        position: relative;

    }
    .photo-bouton {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }


    /*************************************/
    .logo-container {
        width: 138px; /* Largeur définie */
        height: auto; /* Hauteur ajustée automatiquement */
        display: flex; /* Permet de mieux gérer le contenu */
        justify-content: center; /* Centre horizontalement */
        align-items: center; /* Centre verticalement */
        overflow: hidden; /* Coupe ce qui dépasse */
    }
    
    .logo-img {
        max-width: 100%; /* Empêche l'image de dépasser la largeur de son conteneur */
        height: auto; /* Maintient les proportions de l'image */
        object-fit: contain; /* Assure un ajustement propre */
        margin-left: 0px;
    }
   
    /**************************************/

    .petite-separation
    {
        width:100%;
    }
    .photo-details
    {
        margin-left:15%;
    }
    .photo-info h2
    {
        margin-left:15%;
        font-size: 46px;
    }
    .photo-fleche
    {
        display: none;
    }
    .photo-bouton p
    {
        margin-left:15% !important;
        font-size: 14px;
    }
    #contact-button
    {
        width:263px;
        height: 50px;
        margin:1px auto;
    }

    section.photo-contact-navigation
    {
    width:100%;
    padding-left:0;
    padding-right:0;
    }
    section#photos-apparentees {
        padding-left: 0;
        padding-right: 0;
    }
    .photo-navigation
    {
        display: none;
    }

    .texte-photos-apparentess {
       
        text-align: center;
        
    }

    ul#menu-footer {
        display: flex;
        list-style: none;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        gap: 24px;
    }

    .legende-photo {
        
        height: 278px;
       
    }
    .legende-photo-texte {
       
        top: 200px;
    }

    .fullscreen {
        
        left: 85%;
    }


}